@model MainModelForPhone


@{
    ViewData["Title"] = "Телефоны";
}

<h2>Телефоны</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone.GetEnumerator().Current.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone.GetEnumerator().Current.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone.GetEnumerator().Current.Price)
            </th>
            <th>
                Рубли
            </th>
            <th>
                Сомы
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone.GetEnumerator().Current.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Phone) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @foreach (var iteminner in Model.Currencies)
                {
                    if (iteminner.Id == 1)
                    {
                        double a = item.Price * iteminner.CurrencyRate;
                        @Html.DisplayFor(modelItem => a)
                    }
                }
            </td>
            <td>
                @foreach (var iteminner in Model.Currencies)
                {
                    if (iteminner.Id == 2)
                    {
                        double a = item.Price * iteminner.CurrencyRate;
                        @Html.DisplayFor(modelItem => a)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                <a asp-action="Link" asp-route-name="@item.Company">Перейти на сайт производителя</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Сведения о телефоне</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить телефон</a>
            </td>
        </tr>
}
    </tbody>
</table>
